
<div class="sidebar" data-background-color="white"
	data-active-color="danger">
	<div class="sidebar-wrapper">
		<div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Parametrage
                </a>
            </div>
		<ul class="nav">
<!-- 			<li ng-class="{active:selectedMenu=='index'}" -->
<!-- 				ng-click="select('index')"><a href="#!/dashbord"> <i -->
<!-- 					class="ti-panel"></i> -->
<!-- 					<p>Dashboard</p> -->
<!-- 			</a></li> -->
			<li ng-class="{active:selectedMenu=='index'}"
				ng-click="select('index')"><a href="dashbord.html"> <i
					class="ti-panel"></i>
					<p>Dashboard</p>
			</a></li>
			<li ng-class="{active:selectedMenu=='user'}"	ng-click="select('user')"><a href="#!user">
					<i class="ti-user"></i>
					<p>User Profile</p>
			</a></li>
			<li ng-class="{active:selectedMenu=='etudiant'}" ng-click="select('etudiant')"><a
				href="#!etudiant"> <i class="ti-bell"></i>
					<p>Etudiant</p>
			</a></li>
		</ul>
	</div>
</div>


