
<section class="card" ng-controller="UserController">
	<div class="header">
		<div class="row">
			<div class="col-md-10">
				<h4 class="title">Liste des utilisateurs</h4>
				<p class="category"></p>
			</div>
			<div class="col-md-1">
				<a href="#!adduser">
					<button class="btn btn-sm btn-success btn-icon">
						<i class="fa fa-plus"></i>
					</button>
				</a>
			</div>
			<div class="col-xs-1 text-left">
				<button type="submit" class="btn btn-sm btn-success btn-icon"
					ng-click="allUsers()">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="content table-responsive table-full-width" >
		<table class="table table-striped">
			<thead>
				<th>Login</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Mail</th>
				<th>Date creation</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr dir-paginate="u in users.data.content | itemsPerPage:3">
					<td>{{u.username}}</td>
					<td>{{u.firstName}}</td>
					<td>{{u.lastName}}</td>
					<td>{{u.email}}</td>
					<td>{{u.createdDate | date:'dd/MM/yyyy'}}</td>
					<td><div class="form-group">
							<a ng-click="initEditUser(u)" href="#!edituser" class="edit"
								title="Modifier" data-toggle="tooltip"><i
								class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp;&nbsp; <a
								ng-click="deleteUser(u.id)" class="delete" title="Supprimer"
								data-toggle="tooltip"><i class="fa fa-trash"></i> </a>
						</div></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<div class="container spacer">
				<dir-pagination-controls></dir-pagination-controls>
			</div>
		</div>
	</div>
</section>
