<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Authentification</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="login-form">
	<h2 class="text-center">Authentification</h2>
    <form th:action="@{/login}" method="post">
		<div class="avatar">
			<img src="/images/avatar.png" alt="Avatar"></img>
		</div>           
        <div class="form-group">
        	<input type="text" class="form-control input-lg" name="username" placeholder="Username" required="required"></input>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required"></input>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Connecter</button>
        </div>
		<p class="hint-text">Vous n'avez pas de compte? <a href="#">Inscrivez-vous ici</a></p>
    </form>
    <div class="form-footer"><a href="resetpassword.html">Mot de passe oublié?</a></div>
</div>
</body>
</html>                            